.button {
  background-color: #f5f5f5;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  color: var(--black-80);
  border-bottom: 2px solid transparent;
  &:hover {
    background-color: var(--white-50);
  }
}

.button.active {
  background-color: var(--black-10);
  border-radius: 2px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.button:global(.bold) {
  font-weight: bold;
}

.button:global(.unordered-list-item),
.button:global(.ordered-list-item),
.button:global(.italic) {
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.button:global(.unordered-list-item) {
  background-image: svg-load('../../../static/images/icon-editor-unordered-list.svg', fill=rgba(0, 0, 0, 0.8));
}

.button:global(.ordered-list-item) {
  background-image: svg-load('../../../static/images/icon-editor-ordered-list.svg', fill=rgba(0, 0, 0, 0.8));
}

.button:global(.italic) {
  background-size: 35%;
  background-image: svg-load('../../../static/images/icon-editor-italics.svg', fill=rgba(0, 0, 0, 0.8));
}
