.toolbar {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #e4e4e4;
  padding: 0.5rem;
}

.editor-wrap {
  background: #fff;
  border: 1px solid var(--black-20);
  padding: 0;
}

.editor-error {
  border-color: var(--red);
}

:global {
  & .public-DraftEditor-content {
    background-color: white;
    font-size: var(--font-size-4-5);
    line-height: 1.35;
    min-height: 200px;
    max-height: 500px;
    overflow-y: auto;
    padding: 1rem;
  }
}
