.icon-download-purple {
  background-image: svg-load('../../static/images/icon-download.svg', stroke=#5d2ca4);
  height: 18px;
  width: 18px;
  background-position: 50%;
  background-repeat: no-repeat;
}

.button-white-background {
  border: 1px solid var(--primary);
  width: 200px;
}
