.skill-button {
  cursor: default;
  background-color: #fff;
  border-color: #5D2CA4;
  color: #5D2CA4;
}

.skill-button.selected {
  background-color: rgba(94, 44, 165, 0.70196);
  border-color: #5D2CA4;
  color: #fff;
}