.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid var(--black-10);
}

.separator-error::before,
.separator-error::after {
  border-bottom: 1px solid var(--white-30);
}

.separator::before {
  margin-right: 0.5em;
}

.separator::after {
  margin-left: 0.5em;
}

.column-with-icon {
  flex: 0 0 25px;
}

.icon-repost {
  background-position: 50%;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  top: 2px;
}
.icon-repost-tick {
  background-image: svg-load('../../static/images/repost-tick.svg', stroke=#000, stroke-width=1.5);
}

.icon-repost-error {
  background-image: svg-load('../../static/images/repost-error.svg', stroke=#333, stroke-width=1.5);
}
