.icon-new-yellow {
  color: #ffd700;
  text-shadow: 0 2px 2px #333, 0 -1px 2px #333, 0 0 6px rgba(0, 0, 0, 0.4);
}

.notification-close-button {
  background-image: svg-load('../../static/images/icon-cross.svg', stroke=rgb(40, 40, 40), stroke-width=4);
  background-color: inherit;
  border: none;
  width: 20px;
  height: 20px;
  &:hover {
    cursor: pointer;
  }
}
