.cancel-button {
  background: var(--white);
  width: 250px;
  border: 1px solid var(--primary);
  &:hover {
    cursor: pointer;
  }
}

.submit-button {
  border: none;
  width: 250px;
  color: var(--white);
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.standard-modal {
  min-width: 550px;
}
