.icon-white-invite-talent {
  background-image: svg-load('../../static/images/icon-mail.svg', stroke=#fff);
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 18px;
  width: 18px;
}

.icon-invite-talent-disabled {
  background-image: svg-load('../../static/images/icon-mail.svg', stroke=rgba(0, 0, 0, 0.5));
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 18px;
  width: 18px;
}

.invite-talent-disabled {
  border: 1px solid var(--light-gray);
  width: 200px;
}

.invite-talent-purple-background {
  background: var(--primary);
  width: 200px;
  border: 1px solid var(--primary);
}

.custom-tooltip {
  width: 300px;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: calc(50% - 10px);
    bottom: -20px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--mid-gray);
    border-bottom: 10px solid transparent;
  }
}
