.active {
  background: #cbe8ff;
  border-color: var(--blue);
}

.new-window {
  &::after {
    width: 0.75em;
    height: 0.75em;
    position: relative;
    display: inline-block;
    padding-left: 0.25em;
    content: svg-load('../../static/images/icon-new-window.svg', fill=#777);
  }
}
