.form-container {
  max-width: 1120px;
}

.button {
  flex: 0 0 220px;
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.redirect-success-button {
  width: 250px;
  &:hover {
    cursor: pointer;
  }
}

.form-base {
  min-height: 50vh;
}

.modal {
  width: 640px;
}
