.masthead-container {
  background: #f0f0f0;
  font-size: 14px;
}

.masthead {
  color: #484848;
}

.masthead-crest {
  background-image: svg-load('../../../static/images/crest.svg');
  background-repeat: no-repeat;
  background-size: 14px 18px;
  background-position: 50% 80%;
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
}
