.robot-unavailable {
  background-image: url('../../static/images/not-found.png');
  width: 100%;
  height: 160px;
  background-size: contain;
  background-position: 52% 50%;
  margin-bottom: 14px;
  background-repeat: no-repeat;
}
