/* stylelint-disable */
@import './variables.scss';

@define-mixin inlineiconload $fname, $fill: none, $stroke, $width: 1em, $height: 1em, $pr: 0.15em {
  width: $width;
  height: $height;
  position: relative;
  display: inline-block;
  padding-right: $pr;
  content: svg-load($fname, fill=$fill, stroke=$stroke);
}

:root,
button,
input {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

body {
  min-width: 1024px;
}

:global {
  & .f1-5 {
    font-size: var(--font-size-1-5);
  }
  & .f2-5 {
    font-size: var(--font-size-2-5);
  }
  & .f3-5 {
    font-size: var(--font-size-3-5);
  }
  & .f4-5 {
    font-size: var(--font-size-4-5);
  }
  & .f5-5 {
    font-size: var(--font-size-5-5);
  }
  & .f6-5 {
    font-size: var(--font-size-6-5);
  }
  & .f8 {
    font-size: var(--font-size-8);
  }
  & .primary {
    color: var(--primary);
  }
  & .bg-primary {
    background-color: var(--primary);
  }
  & .primary-dark {
    color: var(--primary-dark);
  }
  & .bg-primary-dark {
    background-color: var(--primary-dark);
  }
  & .secondary {
    color: var(--secondary);
  }
  & .bg-secondary {
    background-color: var(--secondary);
  }
  & .b--primary {
    border-color: var(--primary);
  }
  & .b--secondary {
    border-color: var(--secondary);
  }
  & .b--black-05 {
    border-color: var(--black-05);
  }
  & .b--black-10 {
    border-color: var(--black-10);
  }
  & .bg-page-gray {
    background-color: var(--page-gray);
  }
  & .bg-black-05 {
    background-color: var(--black-05);
  }

  & .generic-btn {
    position: relative;
    box-shadow: inset 0 -4px 0 var(--black-30);
    text-shadow: 2px 2px 0 var(--black-80);
    cursor: pointer;
    &:hover {
      box-shadow: inset 0 -4px 0 var(--black-30), inset 0 0 30px 30px var(--black-10);
    }
    &:active {
      top: 2px;
      box-shadow: inset 0 0 30px 30px var(--black-20);
    }
    &:focus {
      outline: 2px solid var(--blue);
    }
  }

  & .cursor-default {
    cursor: default;
  }
  & .cursor-not-allowed {
    cursor: not-allowed;
  }
  & .break-word {
    word-break: break-word;
  }

  /* icons */
  & .icon-bw-location {
    &::before {
      @mixin inlineiconload '../static/images/icon-bw-location.svg', , rgba(0, 0, 0, 0.6);

      top: 0.1em;
    }
  }
  & .icon-bw-employment-type {
    &::before {
      @mixin inlineiconload '../static/images/icon-bw-employment-type.svg', , rgba(0, 0, 0, 0.6);

      top: 0.1em;
    }
  }

  & .icon-bw-seniority {
    &::before {
      @mixin inlineiconload '../static/images/icon-bw-seniority.svg', , rgba(0, 0, 0, 0.6);

      top: 0.1em;
    }
  }

  & .icon-bw-period {
    &::before {
      @mixin inlineiconload '../static/images/icon-bw-period.svg', , rgba(0, 0, 0, 0.6);

      top: 0.1em;
    }
  }

  & .icon-bw-category {
    &::before {
      @mixin inlineiconload '../static/images/icon-bw-industry.svg', , rgba(0, 0, 0, 0.6);

      top: 0.1em;
    }
  }

  & .icon-announcement {
    &::before {
      @mixin inlineiconload '../static/images/icon-announcement.svg', , rgba(0, 0, 0, 0.8), 1.2em, 1.2em, 0.6em;

      top: 0.2em;
    }
  }

  & .icon-magnify {
    &::before {
      @mixin inlineiconload '../static/images/icon-magnify.svg', , rgba(0, 0, 0, 0.4), 1.2em, 1.2em, 0.6em;

      top: 0.2em;
    }
  }

  & .icon-edit {
    &::before {
      @mixin inlineiconload '../static/images/icon-edit.svg', , #357edd, 1em, 1em, 0.3em;

      top: 0.2em;
    }
  }

  & .slick-dots {
    & li {
      top: 35px;
      margin: 0 2px;
      & button::before {
        opacity: 0.4;
        color: rgba(255, 255, 255, 0.6);
        font-size: 14px;
      }
    }
    & li.slick-active {
      & button::before {
        color: rgba(255, 255, 255, 1);
        font-size: 14px;
      }
    }
  }

  /* Fix for Internet Explorer not properly handling flex-basis: auto and flex-shrink: 1 */
  & .flex-auto-ie {
    min-width: 0%;
    min-height: 0%;
    flex: 1 0 0%;
  }

  & .lookup-selector {
    font-size: var(--font-size-4-5);
    box-shadow: none;
  }

  & .lookup-selector > .lookup__control {
    min-height: 50px;
  }

  & .lookup-selector > .lookup__control--is-focused {
    border-color: var(--light-silver);
    box-shadow: none;
  }

  & .lookup-selector > .lookup__control--is-focused:hover {
    box-shadow: none;
    border-color: var(--light-silver);
  }

  & .lookup-selector > .lookup__control > .lookup__value-container > .lookup__placeholder {
    font-size: var(--font-size-4-5);
  }

  & .lookup-selector > .lookup__control > .lookup__indicators > .lookup__indicator-separator {
    display: none;
  }

  & .lookup-selector > .lookup__menu {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0 0 4px 4px;
    width: calc(100% - 2px);
    margin-left: 1px;
  }

  & .lookup-selector > .lookup__menu > .lookup__menu-list {
    padding-top: 0;
    padding-bottom: 0;
  }

  & .lookup-selector > .lookup__menu > .lookup__menu-list > .lookup__option {
    border-bottom: 1px solid lightgray;
    cursor: pointer;
  }

  & .lookup-selector > .lookup__option--is-focused {
    background: var(--light-primary);
    color: var(--black);
  }

  & .disabled-link {
    pointer-events: none;
  }

  & input.error {
    border-color: var(--red);
  }

  & .typeahead-field input.error {
    border-color: var(--red);
  }
}
