.app-container {
  min-height: calc(100vh - 52px);
}

.icon-usp-score,
.icon-usp-time,
.icon-usp-shortlist {
  background: rgba(93, 48, 164, 0.05);
  border-top: 6px solid rgba(93, 48, 164, 0.06);
  border-left: 6px solid rgba(93, 48, 164, 0.06);
  max-width: 220px;
  width: 50%;
  height: auto;
  margin-left: 12%;
  &::after {
    width: 85%;
    position: relative;
    display: block;
    padding-left: 55%;
  }
}

.icon-usp-score {
  &::after {
    content: svg-load('./../../static/images/icon-usp-score.svg', fill=#5d2ca4, stroke=#5d2ca4, stroke-width= '2');
    padding-top: 15%;
  }
}

.icon-usp-time {
  &::after {
    content: svg-load('./../../static/images/icon-usp-time.svg', fill=#5d2ca4, stroke=#5d2ca4, stroke-width= '2');
    padding-top: 15%;
  }
}

.icon-usp-shortlist {
  &::after {
    content: svg-load('./../../static/images/icon-usp-shortlist.svg', fill=#5d2ca4, stroke=#5d2ca4, stroke-width= '2');
    padding-top: 15%;
  }
}

.wsg-logo {
  background-image: url('./../../static/images/wsglogo.png');
  width: 130px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}
