.footer {
  min-height: var(--footer-height);
}

.govtech-logo {
  background-image: url('./../../static/images/govtechlogo.png');
  width: 150px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.wsg-logo {
  background-image: url('./../../static/images/wsglogo.png');
  width: 130px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}

.xopa-logo {
  background-image: url('./../../static/images/x0palogo.png');
  width: 130px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}
