.animated-gradient {
  display: block;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.06) 8%, rgba(0, 0, 0, 0.09) 18%, rgba(0, 0, 0, 0.06) 33%);
  animation: Animation 1s infinite;
  background-size: 200% 100%;
}

@keyframes Animation {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: -100% 0%;
  }
}
