.cancel-button {
  background: var(--white);
  width: 250px;
  border: 1px solid var(--primary);
  &:hover {
    cursor: pointer;
  }
}

.submit-button {
  border: none;
  width: 250px;
  color: var(--white);
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

.extend-job-option {
  width: 550px;
  height: 250px;
}

.loading-container {
  transform: scale(1.5);
}
