.menu-item-tooltip {
  width: 240px;
  left: calc((240px + 40px) * -1);
  top: 0;

  &::after {
    content: '';
    display: block;
    position: absolute;
    right: -16px;
    top: 18px;
    width: 0;
    height: 0;
    border-left: 8px solid var(--mid-gray);
    border-right: 8px solid transparent;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }
}

.disabled-item {
  color: var(--moon-gray);
}

.menu-item-button {
  background: inherit;
  border: none;
  color: inherit;
  width: 100%;
  text-align: left;
}
