.remove-screening-questions-image {
  width: 100%;
  height: 150px;
  background-size: 200px;
  background-position: 50%;
  margin-bottom: 10px;
  background-image: url('../../../static/images/remove-screening-questions.png');
  background-repeat: no-repeat;
}

.custom-overlay {
  width: 250px;
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    left: calc(50% - 10px);
    bottom: -20px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    border-bottom: 10px solid transparent;
  }
}

.readonly {
  & input:read-only {
    background-color: #eee;
    background-image: svg-load('../../../static/images/icon-down-arrow.svg', stroke=#aaa);
    background-repeat: no-repeat;
    background-size: 0.6em 0.6em;
    background-position: 97% 50%;
  }
}
