.blue-add-icon {
  background-image: svg-load('../../../static/images/blue-add.svg');
  width: 16px;
  height: 16px;
  top: 2px;
  display: inline-block;
  position: relative;
}

.question-box {
  border: var(--borderstyle);
}

.checkbox-label {
  padding-left: 24px;
}

.text-field {
  flex-grow: 1;
}

.remove-button {
  position: relative;
  top: 50px;
}
