.candidate-details,
.candidate-list {
  height: calc(100vh - 130px);
  width: 50%;
}

.candidate-details {
  overflow: hidden;
}

.candidate-list {
  overflow-y: auto;
  overflow-x: hidden;
}

.candidate-details > div {
  overflow: auto;
  overflow-x: hidden;
  padding-right: 8px;
}

@media only screen and (max-width: 1025px) {
  .candidate-details,
  .candidate-list {
    &::before {
      content: ' ';
      height: 20px;
      width: calc((1024px - 110px) / 2);
    }
  }
}

.candidate-hidden-container {
  height: calc(100vh - 130px);
  width: calc(100% + 20px);
}
