.toolbar {
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 15%, rgba(0, 0, 0, 0.05) 100%);
}

.filter-slot-box {
  z-index: 2;
}

.filter-slot-dropdown {
  min-width: 250px;
}
