.save-button {
  border: none;
  width: 150px;
  color: var(--white);
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

.options-dropdown {
  max-width: 400px;
}

.text-box :global {
  & .public-DraftEditor-content {
    min-height: 100px;
    max-height: 200px;
  }
}
