.icon-filter-funnel, .icon-filter-funnel-active {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 50%;
  width: 40px;
  height: 20px;
}

.icon-filter-funnel {
  background-image: svg-load('../../../static/images/icon-funnel.svg', stroke=#5E2BA7);
}

.icon-filter-funnel-active {
  background-image: svg-load('../../../static/images/icon-funnel.svg', stroke=#FFF);
}

.filter-modal-button {
  width: 180px;
}

.filter-modal-container {
  max-width: 640px;
}
