.verified-container {
  background-color: #e5fff5;
}

.verified-check-icon,
.verified-info-icon {
  background-repeat: no-repeat;
  background-size: contain;
}

.verified-check-icon {
  background-image: svg-load('../../static/images/green-tick.svg');
  width: 10px;
  height: 10px;
}

.verified-info-icon {
  background-image: svg-load('../../static/images/green-info-icon.svg', fill=#19a974);
  width: 14px;
  height: 14px;
  top: 1px;
}

.verified-tooltip {
  --tooltip-width: 200px;
  --tip-width: 6px;

  bottom: calc(20px + var(--tip-width) + 4px);
  width: var(--tooltip-width);
  left: calc((((var(--tooltip-width) - 113px) / 2) * -1) - 23px);

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: calc(50% - var(--tip-width));
    bottom: calc(var(--tip-width) * -2);
    width: 0;
    height: 0;
    border-left: var(--tip-width) solid transparent;
    border-right: var(--tip-width) solid transparent;
    border-top: var(--tip-width) solid var(--mid-gray);
    border-bottom: var(--tip-width) solid transparent;
  }
}
