.logo {
  height: 75px;
  width: 75px;
  margin: auto;
}

.company-name {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 2.4em;
  text-align: center;
  margin-left: calc(1em + 10px);
  padding-right: calc(1em + 10px);
}

.company-name::before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 5px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 1) 100%
  );
}

.company-name::after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  padding: 0 5px;
  background: white;
}

@media only screen and (max-width: 1025px) {
  .company-name {
    display: none;
  }
  .no-logo {
    max-width: 50px;
    min-width: 50px;
    height: 50px;
    width: 50px;
  }
}
