/* stylelint-disable property-no-vendor-prefix */

.switch-toggle {
  display: inline-block;
  width: 60px;
  height: 34px;
  border-radius: 34px;
  position: relative;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--moon-gray);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch-toggle::before {
  position: absolute;
  content: '';
  height: 28px;
  width: 28px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 34px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch-toggle-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-toggle-checkbox:checked + .switch-toggle {
  background-color: var(--primary);
}

.switch-toggle-checkbox:checked + .switch-toggle::before {
  content: svg-load('../../static/images/purple-tick.svg');
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
