.onboarding-box {
  width: 60vw;
  min-width: 480px;
}

.onboarder-content-box {
  user-select: none;
  outline: none;
}

.onboarding-dots {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.onboarding-dot {
  height: 10px;
  width: 10px;
  margin-right: 6px;
  border: 2px solid var(--gray);
  border-radius: 50%;
}

.onboarding-dot-active {
  background-color: var(--gray);
}

.onboarding-next-button {
  background-color: var(--primary);
  color: var(--white);
  padding: 10px 0;
  width: 25%;
  &:hover {
    cursor: pointer;
  }
}

.onboarding-close-button {
  background-image: svg-load('../../static/images/icon-cross.svg', stroke=#ccc, stroke-width=4);
  background-repeat: no-repeat;
  background-color: inherit;
  position: relative;
  bottom: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
  outline: 0;
  border-style: none;
  &:hover {
    cursor: pointer;
  }
}

.onboarding-link {
  position: relative;
  &::before {
    content: svg-load('../../static/images/icon-book.svg', fill=#357edd);
    cursor: pointer;
    position: relative;
    top: 0.1rem;
    width: 1.1rem;
    height: 1.1rem;
    display: inline-block;
    padding: 0.5rem 0;
    margin-right: 0.5rem;
    user-select: none;
    outline: none;
  }
}

.application-step1,
.application-step1-deprecated,
.application-step2,
.suggested-talent-step1,
.suggested-talent-step2,
.suggested-talent-step3 {
  width: 100%;
  height: 160px;
  background-size: contain;
  background-position: 52% 50%;
  margin-bottom: 14px;
  background-repeat: no-repeat;
}

.application-step1 {
  background-image: url('../../static/images/Applicant-step1v2.png');
}
.application-step2 {
  background-image: url('../../static/images/Applicant-step2.png');
  height: 130px;
}

.suggested-talent-step1 {
  background-image: url('../../static/images/Suggested-Talent-step1.png');
  height: 120px;
}

.suggested-talent-step2 {
  background-image: url('../../static/images/Suggested-Talent-step2.png');
  height: 100px;
}

.suggested-talent-step3 {
  background-image: url('../../static/images/Suggested-Talent-step3.png');
  height: 110px;
}
