.filter-button {
  width: 160px;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.top-section {
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 15%, rgba(0, 0, 0, 0.05) 100%);
}
