.banner-login-container {
  width: 400px;
  box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.3);
  right: 32px;
}

.banner {
  background: #4b2283;
  background-image: svg-load('./../../static/images/Bullseye-Gradient.svg', opacity= '0.5', transform= 'scale(1)');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 15% 20%;
}

.text-container {
  max-width: 650px;
}
